* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #f0f0f0;  /* Off-white suave */
    background-color: rgb(155, 197, 129);  /* Verde suave */
    line-height: 1.5;
}

header {
    background-color: rgb(110, 146, 111);  /* Verde mais suave, mas ainda contrastante */
    font-size: 32px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 20px;  /* Corrigido o valor de padding-top */
    padding-bottom: 20px;  /* Corrigido o valor de padding-bottom */
    font-size: 52px;
    color: #fafafa;  /* Texto branco suave para o header */
    text-transform: uppercase;  /* Opção para tornar o texto do header mais destacado */
}

body {
    font-family: Arial, sans-serif;
    color: #f0f0f0;
    background-color: rgb(155, 197, 129);
}

button {
    background-color: rgb(47, 73, 53);  /* Verde mais escuro para botões */
    color: #f0f0f0;  /* Texto claro nos botões */
    border: none;
    padding: 12px 24px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: rgb(69, 100, 72);  /* Um verde ainda mais escuro para hover */
}

a {
    color: rgb(47, 73, 53);  /* Verde escuro para links */
    text-decoration: none;
}

a:hover {
    color: rgb(69, 100, 72);  /* Efeito hover para links */
}

footer {
    background-color: rgb(110, 146, 111);  /* Mesmo verde do header */
    color: #fafafa;
    text-align: center;
    padding: 10px;
}